@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-open-sans-regular;
}

@font-face {
	font-family: 'OpenSans-Regular';
	src: local('OpenSans-Regular'), url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: local('OpenSans-Bold'), url('./assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'MuseoSansRounded700';
	src: local('MuseoSansRounded700'), url('./assets/fonts/MuseoSansRounded700.otf') format('opentype');
}

@font-face {
	font-family: 'Comfortaa-Regular';
	src: local('Comfortaa-Regular'), url('./assets/fonts/Comfortaa-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Comfortaa-Bold';
	src: local('Comfortaa-Bold'), url('./assets/fonts/Comfortaa-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'SegoeUI-Regular';
	src: local('SegoeUI-Regular'), url('./assets/fonts/SegoeUI-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'SegoeUI-Bold';
	src: local('SegoeUI-Bold'), url('./assets/fonts/SegoeUI-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Gibson-SemiBold';
	src: local('Gibson-SemiBold'), url('./assets/fonts/Gibson-SemiBold.otf'), format('opentype');
}

.input-form {
	@apply font-open-sans-regular px-8 py-2 text-gray-medium bg-white outline-none;
	font-size: 18px;
	box-shadow: 2px 3px 4px #00000029;
}

.primary-button {
	@apply font-open-sans-bold text-lg w-fit py-5 px-8 text-gray-light bg-blue-light rounded-full;
	box-shadow: 0 3px 6px #2c1dad29;
}

.nav-link {
	@apply text-white text-lg;
}

.card-drop-shadow-gray {
	box-shadow: 0px 3px 6px #00000029;
}
